:root {
    /* Colors */
    --slate-900-color: #1f314f;
    --slate-500-color: #68778d;
    --slate-300-color: #d5e1ef;
    --white-color: #fff;

    /* Spacing scale */
    --spacing-500: 2.5rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;

    /* Others */
    --font-primary: 'Outfit', system-ui, -apple-system, sans-serif;
    --shadow-card: 0px 4px 16px 4px hsl(220, 15%, 55%); /* offset-x | offset-y | blur-radius | spread-radius | color */
}

* {
    box-sizing: border-box;
}

.text-preset-1 {
  font-size: clamp(1.125rem, 1.0272rem + 0.4348vw, 1.375rem);
  font-weight: 700; /* Bold */
  line-height: 120%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: clamp(0.875rem, 0.8505rem + 0.1087vw, 0.9375rem);
  font-weight: 400; /* Regular */
  line-height: 140%;
  letter-spacing: 0.0125em;
}


body {
    background-color:  var(--slate-300-color);
    font-family: var(--font-primary);
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}

.card {
    background-color: var(--white-color);
    width: min(320px, 90%);;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
    margin: 0 auto;
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.qr-pic {
    max-width: 100%;    /* allow image to shrink to container width */
    width: 288px;       /* preferred (intrinsic) size on larger viewports */
    height: auto;
    display: block;
    border-radius: 10px;
    margin: 0;
}

.info-section {
    padding: 0 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.centered-text {
    text-align: center;
    margin: 0;
}


